---
import { navs } from "./_nav_links";
import { getRelativeLocaleUrl } from "astro:i18n";
import { switchRouteLocale } from "@/utils/server/locale";
import Accessories from "./_components/Accessories";
import MagicSVG from "@assets/icons/magic.svg?raw";
import MailSVG from "@assets/icons/mail.svg?raw";
import PopoverCard from "@/components/PopoverCard.astro";

const route_switch_locale = switchRouteLocale(Astro.url.pathname, Astro.currentLocale!);
---

<header>
	<nav>
		<menu>
			<li class="mr-6">
				<a href={getRelativeLocaleUrl(Astro.currentLocale!, "")}
					><span class="text-secondary font-extrabold text-lg whitespace-nowrap"
						>Yann Metier <Fragment set:html={MagicSVG} />
					</span></a
				>
			</li>
			{
				navs.map((nav) => {
					return (
						<li>
							<a href={getRelativeLocaleUrl(Astro.currentLocale!, nav.url)}>
								{nav.label}
							</a>
						</li>
					);
				})
			}

			<div class="ml-auto">
				<Accessories
					route_switch_locale={route_switch_locale}
					locale={Astro.currentLocale!}
					client:only="react"
				>
					<PopoverCard slot={"email_component"} message="Email copied to clipboard !" set:html={MailSVG} />
				</Accessories>
			</div>
		</menu>
	</nav>
</header>

<style>
	header {
		nav {
			height: 5rem;
			width: 100%;
			max-width: var(--max-width-layout);
			margin-inline: auto;

			menu,
			menu > div {
				display: flex;
				align-items: center;
				column-gap: 1rem;
			}
		}

		menu li {
			position: relative;

			button,
			a {
				display: block;
				padding: 0.7rem;
			}
		}
	}
</style>
