	main {
		position: relative;

		#scroll-to-top {
			--size: 2.4rem;
			position: sticky;
			bottom: 2rem;
			z-index: 1;

			display: block;
			width: fit-content;
			margin-left: auto;
			height: var(--size);

			svg {
				width: var(--size);
				height: var(--size);

				transition: opacity calc(var(--default-transition-duration) * 3);

				animation-name: show;
				animation-duration: 1s;
				animation-fill-mode: backwards;
				animation-timeline: scroll(root y);
				animation-range: entry 25%;
	

				@starting-style {
					opacity: 0;
				}
			}
		}
	}

	@keyframes show {
		from {
			display: none;
		}

		to {
			display: block;
		}
	}