.accessories {
	--transition-delay: 600ms;

	transform: translateY(0);
	opacity: 1;
	transition:
		opacity 1.5s var(--transition-spring),
		transform 1.5s var(--transition-spring);
	/* we get the counter from the style in the component (not the prettiest way i think to do it), but did not want to calculate with javascript */
	transition-delay: calc(var(--transition-delay) * ((var(--transition-delay-count) / 10) * 2 + 1));
}

@starting-style {
	.accessories {
		transform: translateY(-1rem);
		opacity: 0;
	}
}