---
import FlagFrSVG from "@assets/icons/flag-fr.svg?raw";
import FlagEnSVG from "@assets/icons/flag-en.svg?raw";
import DarkIcon from "@assets/icons/dark.svg?raw";
import MailSVG from "@assets/icons/mail.svg?raw";
import PopoverCard from "@/components/PopoverCard.astro";
import { i18n } from "@/i18n/translations";
import { I18n } from "@/types/i18n";
import { switchRouteLocale } from "@/utils/server/locale";

const locale = Astro.currentLocale as I18n;
const route_switch_locale = switchRouteLocale(Astro.url.pathname, Astro.currentLocale!);
---

<!-- z-index because svgs can be hover the li on certain timing -->
<div class="fading-in z-1" style="--transition-delay-count: 0;">
	<PopoverCard toBottom message={i18n[locale]("EMAIL_COPIED")} set:html={MailSVG} />
</div>

<div class="fading-in" style="--transition-delay-count: 1;">
	<button aria-label="Switch theme" class="theme-toggle" set:html={DarkIcon} />
</div>

<div class="fading-in" style="--transition-delay-count: 2;">
	<a
		aria-label="Switch language"
		href={route_switch_locale}
		href-lang={locale}
		set:html={locale === I18n["FR"] ? FlagEnSVG : FlagFrSVG}
	/>
</div>

<script>
	import { getPreferredTheme, setPreferredTheme } from "@/utils/client/theme";
	import DarkIcon from "@assets/icons/dark.svg?raw";
	import LightIcon from "@assets/icons/light.svg?raw";

	const button_theme_toggle = document.querySelectorAll(".theme-toggle")!;

	button_theme_toggle.forEach((btn) => {
		btn.innerHTML = getPreferredTheme("data-theme") === "dark" ? LightIcon : DarkIcon;

		const toggleTheme = () => {
			const theme = setPreferredTheme("data-theme");
			btn.innerHTML = theme === "dark" ? LightIcon : DarkIcon;
		};
		btn.addEventListener("click", toggleTheme);
	});
</script>

<style>
	button,
	a {
		display: block;
		padding: 0.7rem;
	}
</style>
