@import "tailwindcss";

:root {
  color-scheme: light dark;
}

@theme {
  /* layout */
  --viewport-padding: 2rem;
  --max-width-layout: 70rem;
  --max-sm-width-layout: 40rem;

  /* fonts */
  --defaut-font-family: "Wotfard", system-ui, sans-serif;
  --text-xs: clamp(0.64rem, 0.05vi + 0.63rem, 0.67rem);
  --text-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
  --text-base: clamp(1rem, 0.34vi + 0.91rem, 1.1rem);
  --text-md: clamp(1.1rem, 0.61vi + 1.1rem, 1.3rem);
  --text-lg: clamp(1.8rem, 1vi + 1.31rem, 2.31rem);
  --text-xl: clamp(2.44rem, 2.38vi + 1.85rem, 3.4rem);
  --text-2xl: clamp(3.4rem, 4.18vi + 2.4rem, 4rem);

  /* colors */
  --color-light: oklch(100% 0 0);
  --color-dark: oklch(16.76% 0.007 258.37);
  --color-gray: oklch(47.48% 0 0);
  --color-primary: oklch(67.42% 0.2206140337135045 10.391266089312532);
  --color-secondary: oklch(67.42% 0.2206140337135045 10.391266089312532);

  --text-primary: light-dark(var(--color-dark), var(--color-light));
  --bg-primary: light-dark(var(--color-light), var(--color-dark));

  /* animations / transitions */
  --default-transition-duration: 600ms;
  --tw-duration: var(--default-transition-duration);
  --transition-spring: cubic-bezier(0, 0.78, 0.19, 1.05);
  --tw-ease: cubic-bezier(0.4, 0, 0.2, 1);
}