@import "./_tailwind.css";
@import "./_reset.css";
@import "./_fonts.css";
@import "./_animations.css";

[data-theme] {
  @apply transition-colors;
}

[data-theme="dark"] {
  --text-primary: var(--color-light);
  --bg-primary: var(--color-dark);
}

[data-theme="light"] {
  --text-primary: var(--color-dark);
  --bg-primary: var(--color-light);
}

html {
  font-family: var(--default-font-family);
}

body {
  padding: var(--viewport-padding);
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: 600;
}