@import "./_tailwind.css";
@import "./_reset.css";
@import "./_fonts.css";
@import "./_animations.css";

[data-theme] div {
  @apply transition-colors;
}

html:has([data-theme="dark"]) {
  --text-primary: var(--color-light);
  --bg-primary: var(--color-dark);
}

html:has([data-theme="light"]) {
  --text-primary: var(--color-dark);
  --bg-primary: var(--color-light);
}

html {
  font-family: var(--default-font-family);
  scrollbar-color: var(--color-gray) var(--bg-primary);
  transition: scrollbar-color var(--default-transition-duration) var(--tw-ease);
}

body {
  padding: var(--viewport-padding);
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

h1 {
  margin-bottom: 3rem;
  line-height: var(--text-xl);
  font-size: var(--text-xl);
  font-weight: 700;
}

h2 {
  line-height: var(--text-lg);
  font-size: var(--text-lg);
  font-weight: 600;
}

h3 {
  line-height: var(--text-md);
  font-size: var(--text-md);
  font-weight: 600;
}

p {
  font-size: var(--text-base);
}