---
import Layout from "@layouts/Layout.astro";
import LocationSVG from "@assets/icons/location.svg?raw";
import { getRelativeLocaleUrl } from "astro:i18n";
import type { I18n } from "@/types/i18n";

const locale = Astro.currentLocale as I18n;
---

<Layout title="Welcome home">
	<section class="presentation sm:px-6 my-6 sm:my-12 lg:my-20">
		<h1>Hello folks ! <span class="text-secondary font-bold">I'm Yann</span>.</h1>

		<p>
			Welcome to my world. I've been a <span class="text-tertiary font-bold">web developer</span> since <span
				class="text-tertiary font-bold">2020</span
			>.
		</p>
		<p>
			Here, I'll try to describe myself, explain what drives me and why I want to become a really good
			software enginer. The road isn't short, but I'm going fast and safely (of course). So I'll introduce you
			to some of my <span class="text-tertiary font-bold">projects</span> and what my main <span
				class="text-tertiary font-bold">skills</span
			> are.<br />
		</p>

		<p>
			Oh, and I'm French and I live in Lourdes.
			<a
				href={import.meta.env.PUBLIC_PINNED_LOCATION}
				aria-label="Open a paghtope with my pinned location"
				class="inline-block align-middle mb-2 p-3"
				target="_blank"
				set:html={LocationSVG}
			/>
		</p>
	</section>

	<article class="frameworks background-dotted gap-8 mt-0 lg:mt-36 lg:gap-20 md:gap-16 sm:gap-12">
		<div aria-label="Angular" class="fading-in" style="--transition-delay-count: 1">
			<span id="angular-icon"></span>
		</div>
		<div aria-label="Ionic" class="fading-in" style="--transition-delay-count: 2">
			<span id="ionic-icon"></span>
		</div>
		<div aria-label="Nextjs" class="fading-in" style="--transition-delay-count: 3">
			<span id="nextjs-icon"></span>
		</div>
		<div aria-label="React" class="fading-in" style="--transition-delay-count: 4">
			<span id="react-icon"></span>
		</div>
		<div aria-label="Typescript" class="fading-in" style="--transition-delay-count: 5">
			<span id="typescript-icon"></span>
		</div>
		<div aria-label="Zig" class="fading-in" style="--transition-delay-count: 6">
			<span id="zig-icon"></span>
		</div>
	</article>

	<article class="max-w-[var(--max-width-layout)] mx-auto my-6 sm:my-10">
		<p class="mb-5">
			I prefer <span class="text-tertiary">web</span> and <span class="text-tertiary">front-end</span> for two
			reasons. The first is the simplicity of displaying a simple visual interface. And the second is that seeing
			what you're coding is a great satisfaction that I never thought I'd get. But without the <span
				class="text-tertiary">back-end</span
			>, you can't move forward either, and when you're in total <span class="text-tertiary">autonomy</span> you
			have to learn <span class="text-tertiary">Node</span> or <span class="text-tertiary">PHP</span>, yes,
			you have to know how to deliver routes, secure your app, pre-render its content, control your cookies,
			set up a database, authenticate your user, manage CORS problems... in short, one without the other
			doesn't work!
		</p>

		<p class="mb-5">
			Most of my front-end projects use <span class="text-tertiary">Tailwind</span>. It's a tool that works
			very well with the ecosystem of <span class="text-tertiary">Javascript</span> frameworks for encapsulating
			content. So you'll often find a <code>w-full</code> or a <code>text-secondary</code> hanging around on my
			<a
				target="_blank"
				class="underline decoration-secondary"
				href={import.meta.env.PUBLIC_GITHUB_URL}
				title="Go to my github">Github</a
			>.
		</p>

		<p>
			I often seek to go further than the simple road indicated, passionate I believe is the term. For
			example, you'll find some of my personal <a
				target="_blank"
				class="underline decoration-secondary"
				href={getRelativeLocaleUrl(locale, "projects")}
				title="Go to projects page">projects</a
			> in Zig, and it's thanks to this technology that I was able to discover what a <span
				class="text-tertiary">system language</span
			> was, and I can assure you that playing with machine memory is a whole other thing.
		</p>
	</article>
</Layout>

<style>
	.presentation {
		position: relative;
		width: 100%;
		max-width: calc(var(--max-width-layout) * 0.9);
		margin-inline: auto;

		h1 {
			line-height: var(--text-2xl);
			font-size: var(--text-2xl);
		}

		p {
			margin-bottom: 1.25rem;
			font-size: var(--text-md);
			max-width: calc(var(--max-width-layout) * 0.55);
		}

		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: -2.5rem;
			background-image: url("../../assets/images/me.png");
			background-repeat: no-repeat;
			background-size: contain;
			width: 21rem;
			height: 40rem;
			filter: drop-shadow(5px 5px 5px #000);
		}

		@media screen and (max-width: 1024px) {
			&::after {
				content: none;
			}
		}
	}

	.frameworks {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding-block: 7rem;

		& div span {
			position: relative;
			display: block;
			width: 4rem;
			aspect-ratio: 1/1;
			background-size: 100%;
			background-repeat: no-repeat;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				z-index: -1;
				width: 100%;
				height: 100%;
				background: inherit;
				filter: blur(0.8rem);
			}

			&#angular-icon {
				background-image: url("../../assets/icons/angular.svg");
			}
			&#ionic-icon {
				background-image: url("../../assets/icons/ionic.svg");
			}
			&#react-icon {
				background-image: url("../../assets/icons/react.svg");
			}

			&#nextjs-icon {
				background-image: url("../../assets/icons/nextjs.svg");
			}

			&#typescript-icon {
				background-image: url("../../assets/icons/typescript.svg");
			}

			&#zig-icon {
				background-image: url("../../assets/icons/zig.svg");
			}
		}
	}
</style>
