---
import Header from "./Header/Header.astro";
import Footer from "./Footer.astro";
import ButtonScrollToTop from "@/components/ButtonScrollToTop/ButtonScrollToTop";
import { storage_theme_name_fix } from "@utils/client/theme";
import { getPreferedLocale } from "@/utils/server/locale";

import "@/styles/app.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
const theme = Astro.cookies.get(storage_theme_name_fix);

const locale = getPreferedLocale(Astro.cookies, Astro.preferredLocale);
console.log(locale);
---

<!doctype html>
<html lang={locale}>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Welcome to my world, my portfolio. Here i will try to describe myself, explain what drives me, and why i want to be a very good developper. The road is not short but i'm going fast and safe (of course). I will present to you some of my projects and what my main competences are."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio Yann | {title}</title>
	</head>
	<body data-theme={theme?.value}>
		<Header />

		<main>
			<slot />

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, ab, quidem odit ipsa mollitia error
				quae saepe perspiciatis ratione amet impedit in asperiores alias rem perferendis explicabo quos
				temporibus fugit. Eveniet, hic? Fugit suscipit ea odit voluptatibus nulla magni beatae. Architecto
				quibusdam rem doloribus aspernatur vero asperiores tempora. Velit quam quia ducimus iure eos optio
				accusantium atque blanditiis libero vero. Ea nemo recusandae, rem reprehenderit dignissimos libero
				ducimus inventore, id optio excepturi quaerat maiores fuga corrupti commodi debitis nihil! Nostrum
				beatae in totam obcaecati non modi veritatis dignissimos harum deleniti? Voluptate autem porro
				inventore quidem, beatae earum laudantium quaerat natus nulla quam veniam! Asperiores quis ab sed. Nam
				maxime id aspernatur error quae, alias at ab? Accusantium, aut pariatur. Veniam. Culpa inventore
				impedit facere possimus? Tempore, fugit consectetur? Provident corporis beatae possimus fugiat
				praesentium harum, voluptate architecto assumenda exercitationem impedit, aliquam amet placeat ipsam
				ab maxime, expedita consequuntur cum. Vero! Nihil cupiditate illum quia laborum nam. Odit, modi vel id
				doloremque facere est voluptas at similique eum voluptatem cum animi, accusamus iure velit rerum
				molestiae incidunt quae inventore. Nam, dolore! Voluptatem adipisci voluptates repellat aspernatur
				dolorem, similique obcaecati nulla quod cupiditate soluta labore, hic quo reiciendis, exercitationem
				earum! Id odio enim necessitatibus eveniet deleniti minus doloribus ullam aliquam voluptate omnis?
				Libero unde dolor non laudantium incidunt ut aliquid ipsam facilis quam nisi omnis dolore ad,
				blanditiis fugiat voluptatum! Exercitationem nostrum atque dolorum dolor sapiente? Consectetur
				accusamus ipsa iusto officia neque! Ducimus consectetur fugiat omnis quidem nam tempore officia ea
				tempora minus sint temporibus magnam facilis eligendi, iste facere enim totam placeat voluptatem
				accusamus sed accusantium a iure. Voluptatem, est nisi! Architecto incidunt consectetur quasi labore
				laborum doloribus iusto odit. Labore debitis officiis veritatis quidem architecto sapiente, illum
				velit ullam repellendus amet perspiciatis aperiam, rem blanditiis laudantium quaerat eveniet facilis
				vitae.
			</p>
			<ButtonScrollToTop client:idle />
		</main>

		<Footer />
	</body>
</html>
