---
import Layout from "@components/layouts/Layout.astro";
---

<Layout title="Extra">
	<h1>Divertissements, <span class="text-secondary">Sports</span>, Musiques</h1>
</Layout>

<style>
	h1 {
		max-width: var(--max-sm-width-layout);
		margin-block: 5rem;
		margin-inline: auto;
		text-align: center;
	}
	
</style>