---
import Layout from "@components/layouts/Layout.astro";
import LocationSVG from "@assets/icons/location.svg?raw";
---

<Layout title="Welcome home">
	<section class="presentation sm:px-6 my-6 sm:my-10 lg:my-16">
		<h1>Bonjour ! <span class="text-secondary font-bold">Je suis Yann.</span></h1>

		<p>Bienvenue dans mon univers. Je suis un développeur depuis 2020.</p>
		<p>
			Ici, je vais essayer de me décrire, d'expliquer ce qui me motive et pourquoi je veux devenir un très bon concepteur développeur web.
			La route n'est pas courte mais je vais vite et en toute sécurité (bien sûr). Je vais donc vous présenter quelques-uns de
			mes projets et quelles sont mes principales compétences.<br />
		</p>

		<p>
			Ah et je suis Français et je vis à Toulouse.
			<a
				href={import.meta.env.PUBLIC_PINNED_LOCATION}
				aria-label="Open a page with my pinned location"
				class="inline-block align-sub"
				target="_blank"
				set:html={LocationSVG}
			/>
		</p>
	</section>
</Layout>

<style>
	.presentation {
		width: 100%;
		max-width: calc(var(--max-width-layout) * 0.9);
		margin-inline: auto;

		h1 {
			line-height: var(--text-2xl);
			font-size: var(--text-2xl);
		}

		p {
			margin-bottom: 1.25rem;
			font-size: var(--text-md);
			max-width: calc(var(--max-width-layout) * 0.55);
		}
	}
</style>
