---
import Layout from "@layouts/Layout.astro";
import LocationSVG from "@assets/icons/location.svg?raw";
import { getRelativeLocaleUrl } from "astro:i18n";
import type { I18n } from "@/types/i18n";

const locale = Astro.currentLocale as I18n;
---

<Layout title="Welcome home">
	<section class="presentation sm:px-6 my-6 sm:my-12 lg:my-20">
		<h1>Bonjour ! <span class="text-secondary font-bold">Je suis Yann</span>.</h1>

		<p>
			Bienvenue dans mon univers. Je suis <span class="text-tertiary font-bold">développeur web et mobile</span> depuis
			<span class="text-tertiary font-bold">2018</span>.
		</p>
		<p>
			Je vais jouer le jeu de me présenter, de montrer ce qui me motive et d'expliquer pourquoi je veux
			devenir un excellent concepteur développeur. La route n'est pas courte, mais je vais vite et en toute
			sécurité (évidemment). Je vais donc vous présenter quelques-uns de mes <span
				class="text-tertiary font-bold">projets</span
			> ainsi que mes principales <span class="text-tertiary font-bold">compétences</span>.<br />
		</p>

		<p>
			Ah, et je suis Français et je vis à Toulouse.
		</p>
	</section>

	<article class="frameworks background-dotted gap-8 lg:gap-20 md:gap-16 sm:gap-12">
		<div aria-label="Expo" class="fading-in" style="--transition-delay-count: 1">
			<span id="expo-icon"></span>
		</div>
		<div aria-label="Angular" class="fading-in" style="--transition-delay-count: 2">
			<span id="angular-icon"></span>
		</div>
		<div aria-label="Nextjs" class="fading-in" style="--transition-delay-count: 3">
			<span id="nextjs-icon"></span>
		</div>
		<div aria-label="Node" class="fading-in" style="--transition-delay-count: 4">
			<span id="node-icon"></span>
		</div>
		<div aria-label="React" class="fading-in" style="--transition-delay-count: 5">
			<span id="react-icon"></span>
		</div>
		<div aria-label="Typescript" class="fading-in" style="--transition-delay-count: 6">
			<span id="typescript-icon"></span>
		</div>
	</article>

	<article class="max-w-[var(--max-width-layout)] mx-auto my-6 sm:my-10">
		<p class="mb-5">
			Je privilégie le développement <span class="text-tertiary">front</span>
			pour deux raisons principales. Premièrement, la simplicité d'afficher un contenu : <code
				>&lt;h1 style=&quot;color: red;&quot;&gt;Coucou ! &lt;/h1&gt;</code
			>, c'est magique. Deuxièmement, l'évolution de Javascript au fil des années. Son écosystème est un
			train à grande vitesse sur lequel il ne faut pas rater un arrêt. <br />Mais sans le <span
				class="text-tertiary">back</span
			> on n'avance pas non plus, et quand on est en totale
			<span class="text-tertiary">autonomie</span>, comme je le suis, il faut apprendre à faire du <span class="text-tertiary"
				>Node ou du Bun (pour ma part)</span
			>, et encore une fois, je mise tout sur le Javascript. bref l'un sans l'autre ne fonctionne pas !
		</p>

		<p class="mb-5">
			La plupart de mes projets front sont accompagnés de <span class="text-tertiary">Tailwind</span>. C'est
			un outil qui fonctionne bien avec les frameworks <span class="text-tertiary"
				>Javascript moderne</span
			> d'aujourd'hui pour encapsuler un contenu. Donc vous retrouverez souvent un <code>w-full</code> ou un <code
				>text-secondary</code
			> qui traîne sur mon <a
				target="_blank"
				class="underline decoration-secondary"
				href={import.meta.env.PUBLIC_GITHUB_URL}
				title="Ouvre mon Github">Github</a
			>.
		</p>

		<p>
			Je cherche souvent à aller plus loin que la simple route indiquée, passioné je crois que c'est le terme.
			Par exemple vous trouverez certains de mes <a
				target="_blank"
				class="underline decoration-secondary"
				href={getRelativeLocaleUrl(locale, "projects")}
				title="Va vers la page projets">projets</a
			>
			personnels en Zig, et c'est grâce à ce langage de programmation que j'ai pu découvrir ce qu'était un <span
				class="text-tertiary">langage système</span
			>, et je vous assure que de jouer avec la mémoire machine c'est une autre paire de manches.
		</p>
	</article>
</Layout>

<style>
	.presentation {
		position: relative;
		width: 100%;
		max-width: calc(var(--max-width-layout) * 0.9);
		margin-inline: auto;

		h1 {
			line-height: var(--text-2xl);
			font-size: var(--text-2xl);
		}

		p {
			margin-bottom: 1.25rem;
			font-size: var(--text-md);
			max-width: calc(var(--max-width-layout) * 0.55);
		}

		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: -2.5rem;
			background-image: url("/me.png");
			background-repeat: no-repeat;
			background-size: contain;
			width: 21rem;
			height: 40rem;
			filter: drop-shadow(5px 5px 5px #000);
		}

		@media screen and (max-width: 1024px) {
			&::after {
				content: none;
			}
		}
	}

	.frameworks {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding-block: 7rem;

		& div span {
			position: relative;
			display: block;
			width: 4.5rem;
			aspect-ratio: 1/1;
			background-size: contain;
			background-repeat: no-repeat;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				z-index: -1;
				width: 100%;
				height: 100%;
				background: inherit;
				filter: blur(0.85rem);
			}

			&#expo-icon {
				background-image: url("../assets/icons/expo.svg");
			}
			&#angular-icon {
				background-image: url("../assets/icons/angular.svg");
			}
			&#react-icon {
				background-image: url("../assets/icons/react.svg");
			}

			&#nextjs-icon {
				background-image: url("../assets/icons/nextjs.svg");
			}

			&#typescript-icon {
				background-image: url("../assets/icons/typescript.svg");
			}

			&#node-icon {
				background-image: url("../assets/icons/node.svg");
			}
		}
	}
</style>
