---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Politique de confidentialité">
	<section>
		<h1>Politique de confidentialité</h1>

		<p class="mb-10 italic text-center">Last Updated: October 1, 2024</p>
		<article>
			<p>
				En utilisant ce site, vous consentez à la collecte et à l'utilisation de vos informations comme décrit
				dans cette politique.
			</p>
		</article>

		<article>
			<p>Je peux collecter des informations personnelles vous concernant lorsque vous :</p>

			<ul>
				<li>Remplissez des formulaires sur le site</li>
				<li>Me contactez par email</li>
			</ul>

			<p>Les types d'informations personnelles pouvant être collectées incluent :</p>

			<ul>
				<li>Nom</li>
				<li>Adresse email</li>
				<li>Autres informations que vous choisissez de fournir</li>
			</ul>
		</article>

		<article>
			<p>
				Ce site utilise des cookies pour améliorer l'expérience utilisateur. Les cookies sont de petits
				fichiers stockés sur votre appareil qui aident à mémoriser des informations concernant votre visite.
				Ils peuvent inclure des cookies de session (qui expirent lorsque vous fermez votre navigateur) et des
				cookies persistants (qui restent sur votre appareil jusqu'à leur expiration ou leur suppression). Vous
				pouvez choisir de désactiver les cookies en ajustant les paramètres de votre navigateur. Veuillez
				noter que la désactivation des cookies peut affecter la fonctionnalité de certaines parties du site.
			</p>
		</article>

		<article>
			<p>
				Je m'engage à protéger vos informations personnelles. Je prends des mesures raisonnables pour
				sécuriser vos données et prévenir tout accès non autorisé. Cependant, aucune méthode de transmission
				sur Internet ou de stockage électronique n'est totalement sécurisée. Je ne peux donc pas garantir la
				sécurité absolue de vos informations.
			</p>
		</article>

		<article>
			<p>
				Je ne vends, n’échange ni ne transfère vos informations personnelles à des tiers, sauf si je vous en
				informe à l'avance. Cela n'inclut pas les partenaires d'hébergement du site et les autres tiers qui
				m'aident à exploiter mon site, tant que ces parties acceptent de garder ces informations
				confidentielles.
			</p>
		</article>
		<article>
			<p>
				Je me réserve le droit de modifier cette politique de confidentialité à tout moment. Toute
				modification sera publiée sur cette page avec une nouvelle date de mise à jour. Je vous encourage à
				consulter régulièrement cette politique pour être informé des changements.
			</p>
		</article>
	</section>
</Layout>

<style>
	section {
		max-width: var(--max-sm-width-layout);
		margin-inline: auto;

		h1 {
			margin-top: 4rem;
			text-align: center;
		}

		article {
			margin-bottom: 1.2rem;
			p,
			li {
				font-size: var(--text-sm);
			}

			ul {
				padding-left: 2rem;
				list-style-type: disc;

				li {
					margin-block: 1rem;
				}
			}
		}
	}
</style>
