---
type Props =
	| {
			message: string;
			toTop: true;
			toBottom?: false;
	  }
	| {
			message: string;
			toBottom: true;
			toTop?: false;
	  };

const { message, toTop } = Astro.props;
const position = toTop ? "18rem" : "18rem";
const unique_id = crypto.randomUUID();
---

<button popovertarget={unique_id}>Open Popover</button>
<div popover id={unique_id}>{message}</div>

<style define:vars={{ position }}>
	[popover] {
		position: absolute;
		top: var(--position);
		overflow-y: auto;
		overflow-x: hidden;
		width: 14rem;
		max-height: 6rem;
		padding: 0.5rem;
		text-align: center;
		color: var(--color-dark);
		background-color: var(--color-light);
		border-radius: 8px;
	}

	[popover]:popover-open {
		transition:
			opacity var(--default-transition-duration) var(--transition-spring),
			transform var(--default-transition-duration) var(--transition-spring);
	}

	@starting-style {
		[popover]:popover-open {
			transform: translateY(-2rem);
			opacity: 0;
		}
	}
</style>
