---
import { navs } from "./_navbar";
import Accessories from "./_components/Accessories";
---

<header>
  <nav>
    <menu>
      <li id="home-logo"><a href="/">Yann Metier</a></li>
      {
        navs.map((nav) => {
          return (
            <li>
              <a href={nav.url}>{nav.label}</a>
            </li>
          );
        })
      }

      <div class="ml-auto">
        <Accessories client:idle />
      </div>
    </menu>
  </nav>
</header>

<style>
  header {
    height: 5rem;

    nav {
      menu,
      menu div {
        display: flex;
				align-items: center;
        column-gap: 1rem;
      }
    }

		menu li :is(button, a) {
			padding: 0.7rem;
		}

		#home-logo {
			margin-right: 1.5rem;
		}
  }
</style>
