---
import Header from "./Header/Header.astro";
import Footer from "./Footer.astro";
// import ButtonScrollToTop from "@/components/ButtonScrollToTop/ButtonScrollToTop";
import { storage_theme_name_fix } from "@utils/client/theme";

import "@/styles/app.css";

import { i18n } from "@/i18n/translations";
import type { I18n } from "@/types/i18n";

interface Props {
	title: string;
}

const { title } = Astro.props;
const theme = Astro.cookies.get(storage_theme_name_fix);

const locale = Astro.currentLocale as I18n;
---

<!doctype html>
<html lang={locale}>
	<head>
		<link rel="preload" href="/me.png" as="image" />
		<meta charset="UTF-8" />
		<meta
			name="description"
			content={i18n[locale]("WELCOME_TO_MY_WORLD")}
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio Yann | {title}</title>
	</head>
	<body data-theme={theme?.value}>
		<Header />

		<main>
			<slot />
			<!-- <ButtonScrollToTop client:idle /> -->
		</main>

		<Footer />
	</body>
</html>
