---
import Header from "./Header/Header.astro";
import Footer from "./Footer.astro";
import ButtonScrollToTop from "@/components/ButtonScrollToTop/ButtonScrollToTop";
import { storage_name_fix } from "@utils/client/theme";

import "../styles/app.css";
import { getPreferedLocale } from "@/utils/server/language";
import { getKeysTypedObject } from "@/helper";
import { i18n } from "@/i18n/translations";

interface Props {
	title: string;
}

const { title } = Astro.props;
const theme = Astro.cookies.get(storage_name_fix);
const language = getPreferedLocale(Astro.request.headers, getKeysTypedObject(i18n));
---

<!doctype html>
<html lang={language}>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Welcome to my world, my portfolio. Here i will try to describe myself, explain what drives me, and why i want to be a very good developper. The road is not short but i'm going fast and safe (of course). I will present to you some of my projects and what my main competences are."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio Yann | {title}</title>
	</head>
	<body data-theme={theme?.value}>
		<Header />





		<main>
			<slot />
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nihil dolor, tenetur esse excepturi
				atque iste quo corporis quia eum, sed laudantium magnam, ducimus vitae porro beatae in aspernatur
				expedita! Delectus qui consectetur rem suscipit, eligendi optio. Perferendis atque cupiditate impedit
				error maxime nam dolores dicta praesentium incidunt suscipit iusto hic, unde eveniet consectetur
				adipisci dolorem expedita quidem aperiam voluptates! Iste corporis adipisci ut soluta odit eum autem
				neque consequatur voluptatum delectus quod suscipit nesciunt, commodi eligendi obcaecati recusandae
				sunt possimus quaerat? Commodi praesentium neque id consequatur explicabo soluta hic. Exercitationem
				fugit fugiat temporibus earum magni adipisci impedit, perspiciatis facilis. Iure quod commodi corporis
				blanditiis sapiente non sed est deleniti cum dignissimos. Tempore omnis eveniet qui suscipit nisi
				distinctio amet. Dolores exercitationem illum laudantium veritatis soluta dolor eum reiciendis
				perferendis rerum quis optio magni modi magnam quos quas itaque quidem, nobis repudiandae alias!
				Pariatur, laboriosam assumenda. Doloremque at esse repudiandae! Totam rerum explicabo sapiente eius a,
				accusantium qui rem laudantium molestiae debitis minus tempora odio. Quaerat facere, pariatur alias
				aperiam explicabo at voluptatum fugiat officia sit error consequatur inventore labore!
			</p>

			<ButtonScrollToTop client:idle />
		</main>

		<Footer />
	</body>
</html>
